<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Forecast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC0205AB1E952A2700EF2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0205BF1E952A2800EF2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0205CA1E952A2800EF2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
